.chartBox{
	width: 100%;
	float: left;
}

.svgCollapse{
	float: left;
	position: relative;
	width: 500px;
	height: 500px;
}

.svgCollapse svg{
	position: absolute;
    left: 0px;
    top: 0px;
    width: 700px;
    height: 500px;
}

.legend{
	font-size: 12px;
	width: 200px;
	float: right;
}
.legend .legendRow{
	width: 100%;
	margin-top: 5px;
}
.legend .legendRow .legendLabel{
	float: left;
	width: 90%;
	padding: 5px 0px 0px 10px;
}
.legend .legendRow .legendColor{
	border: 1px solid #000;
	float: left;
	width: 10%;
}
.lineChart {
	font: 10px sans-serif;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area {
	fill: steelblue;
}

.tick line {
	opacity: 0.1;
}

/* pie */

.arc path {
  stroke: #fff;
}

/* barChart */

.typeStatisticChart {
	float: left;
  font: 10px sans-serif;
}

/* .axis path, */
/* .axis line { */
/*   fill: none; */
/*   stroke: #000; */
/*   shape-rendering: crispEdges; */
/* } */

.typeStatisticChart .bar {
  fill: orange;
}

.typeStatisticChart .bar:hover {
  fill: orangered ;
}

/* .typeStatisticChart .x.axis path { */
/*   display: none; */
/* } */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}