body,html {
	height: 100%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#body {
	display: block;
	height: 100vh;
	background: #CACACA;
}

#calculatorValue {
	display: block;
	height: 38vh;
	width: 100%;
	background-color: #0072ff;
}

#calculator {
	display: block;
	position: relative;
	height: 42vh;
	width: 100%;
}

#numbers {
	display: block;
	width: 85%;
	height: 100%;
}

#operators {
	display: block;
	width: 15%;
	height: 100%;
	float: right;
}
#topMenu{
	height: 8vh;
	background-color: #0066e3;
}
#menu{
	width: 100%;
	height: 12vh;
	background-color: #006ef5;
}

.transfer{
	width: 20%;
	height: 100%;
	font-size: 7vh;
	float: left;
	position: relative;
	cursor: pointer;
}
.transferIcon{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

/* menu top */
.glyphicon {
	font-size: 3vh;
    color: #FFF;
}

#close, #ok{
	height: 100%;
	width: 25%;
	position: relative;
	cursor: pointer;
}

#close div, #ok div{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#close{
	float: left;
}

#ok{
	float: right;
}

/* botton menu */
.account, .category{
	font-size: 2vh;
	color: #FFF;
	width: 40%;
	height: 100%;
	float: left;
	text-align: center;
	cursor: pointer;
}
.account div, .category div{
	width: 100%;
	font-size: 3vh;
}

/* presentation */
#valueContainer{
	height: 75%;
	width: 100%;
}

#currency{
	width: 15%;
	height: 100%;
	float: right;
	position: relative;
	
}
#currency p{
	color: #FFF;
	font-size: 4vh;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#value{
	text-align: right;
	width: 85%;
	height: 100%;
	float: right;
	color: #FFF;
	font-size: 14vh;
	position: relative;
}

#value p{
	width: 100%;
	text-align: right;
	position: absolute;
	top: 50%;
	margin-right: 0%;
	transform: translate(0%, -50%)
}

#middleMenu{
	padding-top: 3vh;
	width: 100%;
	text-align: center;
	width: 100%;
	height: 25%;
}

#income{
	margin-left: 5vw;
	width: 80%;
	height: 100%;
	color: #FFF;
	font-size: 4vh;
	cursor: pointer;
}

#income .separator{
	margin: 0 5vw 0 5vw;
}

#income div{
	float: left;
}

.calendar{
	font-size: 4vh;
	float: right;
	margin: 1vh 6vw 0 0;
	cursor: pointer;
}
/* keybord */

.calculatorButton {
	height: 25%;
	display: block;
	background-color: #efeff5;
	font-size: 6vh;
	float: left;
	width: 33.3333%;
	position: relative;
}

.calculatorButton p {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.calculatorButtonOperator {
	display: block;
	background-color: #c9c9c9;
	font-weight: bold;
	font-size: 6vh;
	float: left;
	height: 20%;
	width: 100%;
	position: relative;
}

.calculatorButtonOperator p {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

/* ################################# */
/* getAccounts */
/* ################################# */

#getAccounts, #getTypes, #getDate{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #FFF;
}
.rowName{
	margin-top: 0.5vh;
	width: 100%;
	background-color: #0072ff;
	float: left;
	padding: 2vh 0vw 2vh 10vw;
	color: #FFF;
	font-size: 4vh;
	cursor: pointer;
}
.datepickermobile .input-xl{
	width: 90%;
	margin: 5vh 5vw 0 5vw;
	height: 12vh;
	font-size: 10vh;
}
.timepicker .input{
	width: 25%;
	height: 12vh;
	font-size: 10vh;
	margin: 5vh 0 0 5vw;
}
.timepicker{
	height: 12vh;
	font-size: 10vh;
}