.body{
	float: left;
}
#wait{
	position: absolute;
	z-index: 10;
	background-color: #333;
	height: 100%;
	width: 100%;
	opacity: 0.5;
}
#waitCenter{
	height: 150px;
	width: 20%;
	margin: 0;
    background-image: url("/nexus/resources/image/loading.gif");
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 11;
}
.redFont {
	color: #FF0000;
}
#leftAside{
	float: left;
	width: 18vw;
	height: 100%px;
	padding: 20px 10px 20px 40px;
	background-color: #555;
}
#presentation{
	float: left;
	height: 100%;
	width: 100vw;
	background-color: #555;
}
#main{
	width:80vw;
	float: left;
}

#leftAside .accounts{
	padding: 5px 5px 5px 5px;
	font-size: 16px;
	color: #BBB;
	font-weight: bold;
	border: solid 1px #777;
}

section{
	float: left;
	width: 100%;
	height: 100%;
	padding: 50px 50px 0px 40px;
}
#Charts, #Records, #Statistics, #Calendar{
	background-color: #AAA;
}
#menuSectionContainer{
	background-color: #DDD;
}
.sectionContainer{
	margin: 10px 0px 20px 0px;
	padding: 20px 40px 20px 40px;
}
.sectionName{
	margin-bottom: 25px;
	width:100%;
	font-size:20px;
	font-weight: bold;
	color: #555;
}
.sectionMenu{
	float: right;
}

.addIconToType{
	position: absolute;
	width: 470px;
	height: 560px;
	border: solid 4px #000;
	background-color: #FFF;
}

.glyphiconButton{
	width: 40px;
	height: 40px;
	background-color: #EEE;
	float: left;
	margin: 3px;
	font-size: 20px;
	text-aligne: center;
	padding: 6px 0px 0px 9px;
	border: solid 1px #DDD;
}

.addIconToTypeMenu{
	width: 100%;
	background-color: #EEE;
	height: 40px;
}

.addIconToTypeMenu .buttonClose{
	color: #FFF;
	font-weight: bold;
	background-color: #000;
	font-size: 16px;
	width: 30px;
	height: 30px;
	float: right;
	padding: 4px 0px 0px 8px;;
}

/* Szczegoly */

.accountName, .accountDesc{
	width: 60%;
	float: left;
	padding: 0px 0px 0px 30px;
}

.accountSum{
	width: 40%;
	float: right;
}

.accountName p, .accountDesc p, .accountSum p{
	font-size: 20px;
	padding: 0px 0px 0px 15px;
}
/* edit type */
.editTypeTableRow{
	padding: 0px 25px 0px 25px;
}
/* Operacje */

/* .operations{ */
/* 	padding: 50px 50px 0px 40px; */
/* } */
.recordRowHeader{
	font-weight: bold;
}
.recordRow, .recordRowHeader{
	padding: 10px 40px 30px 40px;
}
.recordTypeIcon{
	text-align: center;
	float: left;
	padding: 0px 20px 0px 20px;
	width: 60px;
}
.recordTransfer{
	text-align: center;
	float: left;
	width: 150px;
	height: 100%;
}
.recordValue{
	float: left;
	width: 100px;
	font-weight: bold;
	text-align: right;
}
.recordDate{
	float: left;
	width: 200px;
	text-align: right;
}
.recordOption{
	float: left;
	width: 200px;
	text-align: right;
}
/*statystyki*/
.multiBarChartMenu{
	margin:20px 0px 50px 0px;
}
.multiBarChartMenu .legendRow{
	width: 210px;
	margin-top: 5px;
	float: left;
	font-size: 12px;
}
.multiBarChartMenu .legendRow .legendColor{
	border: 1px solid #000;
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.multiBarChartMenu .checkbox{
	margin-right: 20px;
	float:right;
}
.legendRow:hover{
	background-color: #CCD;
}
.multiBarChartMenu .btn-filter{
	float: left;
	margin: 30px 210px 0px 0px;
}
/* Celendar tab*/
.calendarTable {
	pading-top:10px;
	float: left;
	width: 100%;
}

.calendarTable .headerRow{
	height: 65px;
	border: 1px solid #080808 !important;

}
.calendarTable .menuBar{
	color: #EEE;
	float: left;
	width: 100%;
	height: 40px;
	background-color: #333;
}

.calendarTable .menuItem{
	height: 40px;
}

.calendarTable .goBack{
	padding: 5px 15px 0px 15px;
	text-align: left;
	float: left;
	width: 35%;
}

.calendarTable .goNext{
	padding: 5px 15px 0px 15px;
	text-align: right;
	float: left;
	width: 45%;
}

.calendarTable .date {
	text-align: center;
	float: left;
	width: 20%;
}

.calendarTable .year{
	padding-top: 10px;
	float: left;
	height: 40px;
	width: 30%
}

.calendarTable .month{
	padding-top: 3px;
	align: center;
	font-weight: bold;
	font-size: 25px;
	float: left;
	height: 40px;
	width: 70%
}



.calendarTable .header{
	border: 1px solid #ccc !important;
	padding-top: 2px;
	margin-top: 3px;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: #EEE;
	background-color: #333;
	float: left;
	width: calc(100% /7);
	height: 20px;
}

.calendarTable .days{
	float: left;
	width: 100%;
}

.calendarTable .day{
	border: 1px solid #ccc !important;
	float: left;
	width: calc(100% /7);
	height: 80px;
}

.calendarDayContent .record{
	border: 1px solid #555 !important;
	background-color: #999;
	float: left;
	width: 20px;
	height: 20px;
	margin: 1px;
}

.day0 {
	background-color: #999;
	height: 80px;
	color: #999
}

footer{
/* 	float: left; */
	background-color: #333;
	width: 100%;
	height: 100%;
	bottom: 0;
}

/* footer{ */
/* 	background-color: #222; */
/* } */
