* {
	margin: 0px;
	padding: 0px;
}

html {
	overflow-y: scroll;
}
.nexus{
	float:right;
	width: 100%;
	background-color: #000;
	text-align: right;
	padding: 5px 25px 5px 0;
	font-weight: bold;
}
.title{
	float:left;
	width: 50%;
	text-align: left;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	padding: 5px 25px 5px 25px;;
}
.topMainMenu{
	background: linear-gradient(to top,#337ab7 0,#265a88 100%);
}
.mandatory{
	color: #EE0000
}