@CHARSET "UTF-8";
.clickable {
	cursor:pointer;
}
.box {
	width: 100%;
	float: left;
}
.boxWidth75 {
	float: left;
	width: 75%;
}
.boxWidth50 {
	float: left;
	width: 50%;
}
.boxWidth10 {
	float: left;
	width: 10%;
}
.toRight{
	float:right;
}
.paragraph-m {
	margin: 5px 0px 10px 10px;
}

.paragraph-l {
	margin: 10px 0px 15px 20px;
}

.paragraph-xl {
	margin: 15px 0px 20px 30px;
}

.padding-m {
	padding: 5px 0px 10px 10px;
}

.padding-l {
	padding: 10px 0px 15px 20px;
}

.padding-xl {
	padding: 15px 0px 20px 30px;
}

.space-top-s {
	margin-top: 5px;
}

.space-top-m {
	margin-top: 10px;
}

.space-top-l {
	margin-top: 15px;
}

.space-top-xl {
	margin-top: 20px;
}

.space-top-xxl {
	margin-top: 30px;
}

.space-top-xxxl {
	margin-top: 50px;
}

.space-bottom-s {
	margin-bottom: 5px;
}

.space-bottom-m {
	margin-tbottomop: 10px;
}

.space-bottom-l {
	margin-bottom: 15px;
}

.space-bottom-xl {
	margin-bottom: 20px;
}

.space-bottom-xxl {
	margin-bottom: 30px;
}

.space-bottom-xxxl {
	margin-bottom: 50px;
}

.bold {
	font-weight: bold;
}

.border-bottom {
	border-bottom: solid 1px #ccc;
}

.border-top{
	border-top: solid 1px #ccc;
}

.font-m {
	font-size: 12px;
}
.font-l {
	font-size: 16px;
}
.input-mini { width: 60px; } .input-small { width: 90px; } .input-medium { width: 150px; } .input-large { width: 210px; } .input-xlarge { width: 270px; } .input-xxlarge { width: 530px; }
.tableForm td{
	padding-top: 10px;
}
.spaceBufor{
	height: 100%;
	width: 30px;
}
.spaceBuforS{
	height: 100%;
	width: 12px;
}
.center{
	text-align: center;
}