@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

html {
	overflow-y: scroll;
}

body {
	padding-right: 3px !important;
	padding-left: 3px;
}
.view {
	width: 100%;
	float: left;
	background-color: #eee;
}

div span .icon {
	width: 100px;
}

.clickable {
	cursor:pointer;
}

.projectColumnName{
	float: left;
	width: 80%;
	background-color: #eee;
}

.projectColumnExtend {
	float: left;
	width: 20%;
}

.projectHeader {
	width: 100%;
	float: left;
}

.projectName{
	padding: 35px 0px 60px 150px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.columnName {
	background-color: #ccc;
	padding-bottom: 4px;
	text-align: center;
}
.columnName p {
	font-size: 20px;
	font-weight: bold;
}

.taskCounter {
	font-size: 12px;
	padding: 3px 5px 0px 0px;
	width: 100%;
	height: 12px;
	float: right;
	text-align: right;
}

.task {
	border: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	height: 110px;
	width: 100%;
	background-color: #FAFAFA;
	float: right;
	border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.task .type-1 {
	background-color: #44E;
	height: 100%;
	width: 2%;
	float: left;
}

.task .type-2 {
	background-color: #E44;
	height: 100%;
	width: 2%;
	float: left;
}

.task .type-3 {
	background-color: #EE4;
	height: 100%;
	width: 2%;
	float: left;
}

.taskContent {
	float: left;
	width: 98%;
	padding: 4px;
}

.userIcon{
	width: 35px;
	height: 35px;
	float: right;
}

.taskIconContainer1 {
	background: url("../../image/jTask/task20.png") no-repeat center;
	width: 25px;
	height:25px;
}
.taskIconContainer2 {
	background: url("../../image/jTask/bug20.png") no-repeat center;
	width: 25px;
	height:25px;
}
.taskIconContainer3 {
	background: url("../../image/jTask/improvment20.png") no-repeat center;
	width: 25px;
	height:25px;
}

.priority {
	text-align: center;
}

.taskName {
	padding-left: 10px;
	font-size: 14px;
	height: 22px;
}

.taskSummary {
	padding-left: 10px;
	height: 43px;
	overflow: hidden;
}

.taksTable {
	width: 100%;
}

.btnTaskDirestion {
	float: right;
/* 	position: fixed; */
/*     bottom: 15px; */
/*     right: 16px; */
}


/* Modals */

#newTaskModal .modal-dialog{
	width: 650px;
}

#newTaskModal .modal-dialog .modal-content {
	width: 600px;
}

.headerMenu {
	float: right;
}

.headerMenu .btn {
	
} 

.formContainer td{
	height: 33px;
	padding: 0px 15px 0px 5px;
}

.formContainer .separator td{
	height: 3px;
}

/*details*/
#taskDetails {
	border: 1px solid #ccc;
	background-color: #FFF;
}
.taskDetailsName, .taskDetailsMainTaskName{
	float: right;
	width: 50%;
	text-align: right;
	margin: 5px 10px 0px 0px;
	font-weight: bold;
}
.taskDetailsMainTaskName{
	font-size: 12px;
}
.taskDetailsName{
	font-size: 20px;
	
}
.taskDetailsPriority {
	font-size: 12px;
	margin: 5px 0px 0px 5px;
}
.taskDetailsSummary {
	margin: 75px 0px 0px 5px;
}
.taskDetailsSummary p {
	border-top: 1px solid #ccc;
	font-weight: bold;
	width: 100%;
	margin: 5px 0px 0px 0px;
}
.taskDetailsDescription {
	margin: 25px 0px 0px 5px;
}
.taskDetailsDescription p {
	border-top: 1px solid #ccc;
	width: 100%;
	margin: 5px 0px 0px 0px;
}
.taskDetailsDates {
	font-size: 12px;
	margin: 60px 10px 0px 0px;
}
.taskDetailsDates{
	border-top: 1px solid #ccc;
}
.taskDetailsCreated, .taskDetailsUpdated{
	padding: 5px 0px 0px 5px;
	text-align: right;
}

/* taskMainWindow */
#taskMainWindow .taskDetailsTaskTypeId {
	font-size: 20px;
	font-weight: bold;
	margin: 5px 0px 0px 5px;
}

#taskMainWindow .taskDetailsName {
	float: right;
	width: 50%;
	font-size: 24px;
	font-weight: bold;
	text-align: right;
	margin: 10px 50px 0px 0px;
}
#taskMainWindow .taskDetailsPriority {
	font-weight: bold;
	margin: 5px 0px 0px 5px;
}
#taskMainWindow .taskDetailsSummary {
	margin: 75px 50px 0px 50px;
}
#taskMainWindow .taskDetailsSummary p {
	font-size: 16px;
	border-top: 1px solid #ccc;
	font-weight: bold;
	width: 100%;
	margin: 10px 5px 0px 5px;
}
#taskMainWindow .taskDetailsDescription {
	margin: 25px 50px 0px 50px;
}
#taskMainWindow .taskDetailsDescription p {
	border-top: 1px solid #ccc;
	width: 100%;
	margin: 10px 5px 0px 5px;
}
#taskMainWindow .taskDetailsDates {
	font-size: 12px;
	margin: 60px 50px 0px 50px;
	border-top: 1px solid #ccc;
}
#taskMainWindow .taskDetailsCreated,#taskMainWindow .taskDetailsUpdated{
	padding: 5px 0px 0px 5px;
	text-align: right;
}

#taskMainWindow .detailsName{
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 25px;
}

/************************* taskWindowDetails */
#taskWindowDetails{
	margin: 50px 50px 30px 50px;
}
.taskWindowDetailsList{
	margin-top: 25px;
}
.taskWindowDetailsEvent {
	margin: 15px 0px 0px 0px;
}
.historyEventContent{
	margin: 20px 0px 10px 50px;
}
.taskWindowDetailsEventName{
	font-weight: bold;
	width: 40%;
}
.eventDate {
	font-size: 11px;
	float: right;
	text-align: right;
	width: 25%;
}

.topMenu {
	margin: 25px 0px 0px 0px;
}

#taskWindow{
	float: left;
	width: 100%;
}

#taskRightBar{
	float: right;
	width: 25%;
}

#taskRightBar .content{
	margin: 132px 25px 25px 25px;
}

#taskMainWindowContent{
	float: left;
	width: 75%;
	border-right: 1px solid #ccc;
}

.formName{
	padding: 5px 20px 5px 10px;
}

/* TaskSearch */

.taskSearchResults {
	width: 100%;
	height: 600px;
	overflow-y: scroll;
}


/* *******************************************
	common 
*/
.box {
	width: 100%;
	float: left;
}
.boxWidth75 {
	float: left;
	width: 75%;
}
.boxWidth50 {
	float: left;
	width: 50%;
}
.boxWidth10 {
	float: left;
	width: 10%;
}

.paragraph-m {
	margin: 5px 0px 10px 10px;
}

.paragraph-l {
	margin: 10px 0px 15px 20px;
}

.paragraph-xl {
	margin: 15px 0px 20px 30px;
}

.padding-m {
	padding: 5px 0px 10px 10px;
}

.padding-l {
	padding: 10px 0px 15px 20px;
}

.padding-xl {
	padding: 15px 0px 20px 30px;
}

.space-top-s {
	margin-top: 5px;
}

.space-top-m {
	margin-top: 10px;
}

.space-top-l {
	margin-top: 15px;
}

.space-top-xl {
	margin-top: 20px;
}

.space-top-xxl {
	margin-top: 30px;
}

.space-top-xxxl {
	margin-top: 50px;
}

.bold {
	font-weight: bold;
}

.border-bottom {
	border-bottom: solid 1px #ccc;
}

.font-m {
	font-size: 12px;
}
.font-l {
	font-size: 16px;
}
.input-mini { width: 60px; } .input-small { width: 90px; } .input-medium { width: 150px; } .input-large { width: 210px; } .input-xlarge { width: 270px; } .input-xxlarge { width: 530px; }


