@CHARSET "UTF-8";

.projectSearchPresentation{
	width: 410px;
	height: 180px;
	float: left;
	margin: 2px;
}

.fog {
	width: 100%;
	height: 100%;
	background-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);

}

.fog div {
	padding: 10px;
}

.fog div .name {
	font-size: 12px;
	font-weight: bold;
}

.fog div .description {
	font-size: 10px;
}